APK_BOT_TOKEN=8800684024:AAHjQ3h43RAYFHvAOzMPE7ZR2-PT8za2y-8
PANEL_URL=http://187.77.155.206:3000
PANEL_ADMIN=admin
PANEL_PASS=boom@2025
BASE_APK_PATH=/opt/boom-panel/telegram-apk-bot/base/client-base.apk
